/*----------------------------------------------------------------------------- 
GLOBAL
-----------------------------------------------------------------------------*/

body {
  overflow-x: hidden;
}

.contactmain h1, h4, h5 {
  color: #f8f6f6 !important;
  margin-bottom:1%;
  font-family: 'Lato', sans-serif;
}

.contactmain h4,h5{
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

/*----------------------------------------------------------------------------- 
IMAGE
-----------------------------------------------------------------------------*/
.imageoverlay {
  position:relative; 
  top:-50%; 
  left:-50%; 
  width:200%; 
  height:200%;
}

.imageoverlay img {
  position:absolute; 
  top:0; 
  left:0; 
  right:0; 
  bottom:0; 
  margin:auto; 
  min-width:50%;
  min-height:50%;
  opacity: 0.9;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*----------------------------------------------------------------------------- 
CONTACT FORM AND PAGE WRAP
-----------------------------------------------------------------------------*/

input, textarea { 
  padding: 4px; 
  border: solid 1px #E5E5E5; 
  outline: 0; 
  width: 92%; 
  max-width: 92%;  
  background: #f8f6f6;
  border-radius: 2px;
  line-height: 225%; 
} 

#MERGE2 {
  line-height: 800%; 
}

.form label { 
  color: #999999; 
} 

.submit-button input { 
  width: auto;
  padding: 6px 26px;
  border: 15px;
  border: #f8f6f6;
  font-size: 15px;
  color:#f8f6f6;
  border: solid 1.5px #f8f6f6; 
  background-color: transparent;
}

.submit-button p {
   padding-left: 0px;
}

.submit-button input:hover{
  color: #666;
  background-color: rgb(255, 255, 255);
} 


/*center text*/

.page-wrap { 
  position: relative; 
  z-index: 2; 
  width: 70%; 
  margin-right: 15%;
  margin-left:15%;
  margin-top: 10%;
  padding: 5%; 
  background-color: transparent;
  -moz-box-shadow: 0 0 20px black; 
  -webkit-box-shadow: 0 0 20px black; 
  box-shadow: 0 0 20px black; 
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}