body {
  font-family:'Open Sans Condensed', sans-serif;
}

/*----------------------------------------------------------------------------- 
=02 NAVBAR 
-----------------------------------------------------------------------------*/
.navbar {
  width: 100%;
  height: 10%;
}

.title {
  width: 25%;
  float: left;
}

.fixednav {
  width: 75%;
  float: right;
}

.title h1 {
	margin: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  color: gray;
  float: left;
  margin-right: 5%;
}

.title p {
   margin: 0px;
   font-size: 12px; 
   padding-left: 10%;
}

.navbar ul li {
    float: right;
    list-style: none;
    padding: 1%;
}

.navbar a {
   text-decoration: none;
   font-size: 14px; 
}

/*----------------------------------------------------------------------------- 
=03 SLIDER
-----------------------------------------------------------------------------*/
.slider {
  width: 100%;
}
.slider img {
  width: 100%; 
}
/*----------------------------------------------------------------------------- 
02=CONTACT FORM
-----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------- 
=04 ABOUT
-----------------------------------------------------------------------------*/
.about {
  width: 100%;
}
.about img {
  width: 100%; 
}
